

/* hover color overlay */

.circle-container a:hover span.overlay-pink, .circle-container a:hover span.overlay-blue, .circle-container a:hover span.overlay-green, .circle-container a:hover span.overlay-seafoam, .circle-container a:hover span.overlay-coral, .circle-container a:hover span.overlay-lavendar, .circle-container a:hover span.overlay-berry, .circle-container a:hover span.overlay-red {
  display:block;
}
span.overlay-red{
background: rgba(179, 66, 68, 0.7);
display: none;
position: relative;
width: 5em; height: 5em;
border-radius: 50%;
bottom: 5em;
}

span.overlay-berry{
background: rgba(119, 62, 98, 0.7);
display: none;
position: relative;
width: 5em; height: 5em;
border-radius: 50%;
bottom: 5em;
}

span.overlay-lavendar{
background: rgba(193, 154, 183, 0.7);
display: none;
position: relative;
width: 5em; height: 5em;
border-radius: 50%;
bottom: 5em;
}

span.overlay-coral{
background: rgba(188, 111, 98, 0.7);
display: none;
position: relative;
width: 5em; height: 5em;
border-radius: 50%;
bottom: 5em;
}

span.overlay-seafoam{
background: rgba(192, 224, 207, 0.7);
display: none;
position: relative;
width: 5em; height: 5em;
border-radius: 50%;
bottom: 5em;
}

span.overlay-pink{
background: rgba(155, 112, 125, 0.7);
display: none;
position: relative;
width: 5em; height: 5em;
border-radius: 50%;
bottom: 5em;
}

span.overlay-blue{
  background: rgba(33, 56, 67, 0.7);
  display: none;
  position: relative;
  width: 5em; height: 5em;
  border-radius: 50%;
  bottom: 5em;
}

span.overlay-green{
  background: rgba(102, 155, 149, 0.7);
  display: none;
  position: relative;
  width: 5em; height: 5em;
  border-radius: 50%;
  bottom: 5em;
}


/* rendering moon links on the circle */

.circle-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.circle-container {
  position: relative;
  width: 32em;
  height: 32em;
  padding: 4em;
  /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
  border: solid 1px;
  border-color: #000;
  border-radius: 50%;
  margin: 2em auto 0;
  margin-top: 5em;

}
.circle-container a {
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    width: 6em; height: 6em;
    margin: -3em;
    z-index:1;
}

.circle-container img { display: block; width: 100%; height: 100%; }
.first-quarter { transform: translate(16em); } /* 12em = half the width of the wrapper */
.waxing-gibbous { transform: rotate(45deg) translate(16em) rotate(-45deg); }
.full-moon { transform: rotate(90deg) translate(16em) rotate(-90deg); }
.waning-gibbous { transform: rotate(135deg) translate(16em) rotate(-135deg); }
.last-quarter { transform: translate(-16em); }
.waning-crescent { transform: rotate(225deg) translate(16em) rotate(-225deg); }
.newmoon { transform: rotate(270deg) translate(16em) rotate(-270deg); }
.waxing-crescent { transform: rotate(315deg) translate(16em) rotate(-315deg); }


/* twinkling background image */

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

.stars, .twinkling {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:0;
}

.twinkling{
  background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index:1;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

.bodyDiv {
  position: relative;
  z-index: 2;
}

.cards {
  position: relative;
  z-index: 3;
}
.footer {
  position:relative;
  z-index: 4;
}
.head {
  position:relative;
  z-index: 5;
}
